<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="SuiteHomeWork" verbose="1" parallel="false">
    <parameter name="pChromeFile" value="/chromedriver.exe"/>
    <parameter name="pChromeProp" value="webdriver.chrome.driver"/>
    <parameter name="pFirefoxFile" value="/geckodriver.exe"/>
    <parameter name="pFirefoxProp" value="webdriver.gecko.driver"/>
    <parameter name="pIEFile" value="/IEDriverServer.exe"/>
    <parameter name="pIEProp" value="webdriver.ie.driver"/>

    <test name="HomeWork4">
        <parameter name="pChromeFile" value="/chromedriver.exe">ChromeFile</parameter>
        <parameter name="pChromeProp" value="webdriver.chrome.driver">ChromeProertyp</parameter>
        <parameter name="pFirefoxFile" value="/geckodriver.exe">FirefoxFile</parameter>
        <parameter name="pFirefoxProp" value="webdriver.gecko.driver">FirefoxProperty</parameter>
        <parameter name="pIEFile" value="/IEDriverServer.exe">IEFile</parameter>
        <parameter name="pIEProp" value="webdriver.ie.driver">IEProperty</parameter>

        <classes>
            <class name="ua.com.qatestlab.lecture_4.tests.AllPagesChromeTest"/>
            <class name="ua.com.qatestlab.lecture_4.tests.AllPagesFirefoxTest"/>
            <class name="ua.com.qatestlab.lecture_4.tests.AllPagesIETest"/>
        </classes>

    </test>

</suite>